[MASTER]
disable=
    format, # Handled by Black autoformatter
    E0401,  # Unable to import X; import errors are highly environment dependant
    C0114,  # Missing module docstring
    C0115,  # Missing class docstring
    C0116,  # Missing function or method docstring
    C0411,  # Import order handled by isort

[MESSAGES CONTROL]
disable = C0330, C0326 # Black compatible

[TYPECHECK]

# List of members which are set dynamically and missed by pylint inference
# system, and so shouldn't trigger E1101 when accessed. Python regular
# expressions are accepted.
generated-members=numpy.*,torch.*,cv2.*